* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Box {
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #7a2ed6,#a375dc);
  }
  .Box-a {
    width: 20%;
    height:50vh;
    margin:auto;
    gap:20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: url(/src/reviewapp/components/auth/image/Group\ 11665.png)no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    flex-direction: column;
  }
  .Box-a h1{
    color: #220545;
  }
  .Box-a input{
    height:30px;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .Box-a button{
    width:100px;
    border-radius: 10px;
    background: linear-gradient(180deg , #a375dc,#7a2ed6);
    border: none;
    height:30px;
  }